@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body {
  text-align: center;
  background-image: url("./assets/images/wrinkled_paper.jpeg");
}

footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;

  width: 100vw;
  flex-direction: column;
}

* {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: lighter;
}

.header {
  margin: 10vh 0 5vh;
}

#tts-status {
  margin: 8 0 8 0;
}

#tts-input {
  width: 50vw;
  height: 12em;
  padding: 1rem;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

#tts-input:focus {
  outline: none;
}

.tts-btn {
  font-size: 0.9rem;
  margin: 1rem 4px;
  padding: 5px;
  background: transparent;
  border: 0.5px solid rgb(44, 44, 44);
  border-radius: 0.25em;
}
